.side-by {
  display: flex;
  justify-content: left;
  border: #333 1px solid;
  width: min-content;
  height: 1050px;
}

/*A-VIEW is for the main map and timeline*/
.a-view-container {
  padding: 5px;
}
.b-view-container {
  padding: 5px;
  overflow: scroll;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.a-view {
  width: 950px;
  height: fit-content;
  border-right: #333 1px solid;
}
#ufo-map {
  height: 600px;
}

#ufo-shape-trends {
  border-bottom: none;
}
/*B-VIEW is for the trends and supplemental views*/
.b-view {
  width: 950px;
  height: fit-content;
  border-bottom: #333 1px solid;
}

#filter-container {
  width: fit-content;
  height: 7em;
}
.filter-item {
  display: flex;
  align-items: center;
}

#tooltip {
  position: absolute;
  opacity: 0;
  background: #fff;
  box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  padding: 2px 8px;
  width: 200px;
}
.tooltip-label {
  color: #333;
  font-weight: 500;
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-size: 12px;
}
